html{
    background-color: #222;
}

.title{
    color: #ebf6f7;
    text-align: center;
}

.webPaint
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

#webPaint
{
    background: #ebf6f7;
    border: solid 3px #48e;
}

.webPaint div
{
    margin: auto;
    margin-top: 10px;
}

#color
{
    margin-right: 100px;
}

.caja15
{
    user-select: none;
}
